# MongoDB Connection String
# For MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/space-dodger
# For local MongoDB: mongodb://localhost:27017/space-dodger

# Server Port
PORT=3000

